.public-body {
  margin: 15px;
  display: flex;
  margin-left: 10px;
  padding-left: 10px;
  width: 600px;
  height: 190px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
img {
  height: 130px;
  border-radius: 50%;
  width: 130px;
  margin-top: 25px;
  margin-left: 10px;
}
.public-info {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 50px;
}
h3 {
  margin: 1px;
  font-size: 20px;
  text-align: start;
}
.name {
  font-size: 30px;
}
.icon {
  font-size: 25px;
  color: purple;
}
